.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #538d22;
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout-content {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: none;
  min-height: 0;
}
.ant-btn-primary,
.ant-btn-primary:visited,
.ant-btn-primary:focus {
  background: #538d22;
  border-color: #538d22;
}
.ant-btn-primary:hover,
.ant-btn-primary:active {
  background: #aad576;
  border-color: #aad576;
}
